<div class="container-fluid">


    <div class="row">
        <div class="col-lg-2">
            <a class="btn btn-block btn-social btn-github btn-lg" (click)="signInWithGithub()">
                <span class="fa fa-github"></span>
                Sign in with GitHub
            </a>

            <a class="btn btn-block btn-social btn-google btn-lg" (click)="signInWithGoogle()">
                <span class="fa fa-google"></span>
                Sign in with Google
            </a>

            <a class="btn btn-block btn-social btn-twitter btn-lg" (click)="signInWithTwitter()">
                <span class="fa fa-twitter"></span>
                Sign in with Twitter
            </a>


        </div>


    </div>
</div>