<div class="row">
    <div class="col-sm-6">
        <div class="jumbotron">
            <h1>Guide</h1>
            <p>I want to guide the reader.</p>
            <p><a class="btn btn-primary btn-lg" [routerLink]="['StationGuide']" role="button">Guide</a></p>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="jumbotron">
            <h1>Reader</h1>
            <p>I want to read</p>
            <p><a class="btn btn-primary btn-lg" [routerLink]="['StationRead']" role="button">Read</a></p>
        </div>
    </div>
</div>
